@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body{
  background-image: url("Imagenes/fondo.png");
  background-color: rgba(51, 52, 53, 0.392);
  font-family: "Share Tech Mono", monospace;

}
header, .alert{
  z-index: 100;
}

.texto {
  background: rgba(197, 163, 163, 0.7);
  padding: 1rem;
  margin: 0.5rem;
  gap: 2rem;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
}

.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}